<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://unpkg.com/file-icon-vectors/dist/file-icon-classic.min.css")
        link(rel="stylesheet", href="https://unpkg.com/file-icon-vectors/dist/file-icon-vivid.min.css")
        title #{title}
        style.
            body{
                margin: 30px;
            }

            a{
                display: block;
                font-size: 20px;
            }
    body
        each file in files
            a(href=`${dir}/${file.name}`)
                span(class=`fiv-viv ${file.icon}`)
                |   #{file.name}
            br
